/* Resetting default browser styles */
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    height: 100vh;
}

header {

    background-color: #B1D8B7;
    /* Medium Green */

    color: #fff;

    padding: 20px;

    text-align: center;

}

.logo img {

    width: 50px;
    /* Adjust the size of your logo */

}

.menu {

    margin-top: 20px;

}

.menu li {

    display: inline-block;

    margin-right: 20px;

}

.menu a {

    text-decoration: none;

    color: #189AB4;

    font-size: 16px;
}


.pin iframe {
    position: relative;
    width: 650px;
    height: 60%;


}

.contact {
    margin: auto;
    background-color: #B9B7BD;
    max-width: 450px;
    max-height: 300px;
    padding: 14px;
    padding-bottom: 60px;
    border-radius: 30px;
    border-width: 50px;


}

.button:hover {
    background: #189AB4;

}

.contact-information-container {
    display: flex;
    width: 100%;
    padding: 48px;

}

.connect-information {
    display: inline;
    width: 300px;
    font-weight: bold;
    margin-left: 15%;


}


.social-media img {
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease;
    width: 50px;
    margin-bottom: 80px;
    margin-top: 60px;

}



footer {

    background-color: #5cb85c;
    /* Medium Green */

    color: #fff;

    text-align: center;

    padding: 5px 0;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.social-icons {

    display: flex;

}

.social-icon {

    color: #fff;

    font-size: 20px;

    margin-left: auto;
    margin-right: 10px;

}

.social-icon:hover {

    color: #f4d35e;
    /* Yellow */

}

.hero-image {

    width: 100%;
    /* Ensure the image fills the entire width of its container */

    max-height: 400px;
    /* Set a maximum height to prevent the image from becoming too tall */

    object-fit: cover;
    /* Ensure the image covers the entire container while maintaining its aspect ratio */

    border-radius: 10px;
    /* Add a border-radius for rounded corners, if desired */

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow for depth */

}



.page-content {
    padding-top: 10px;
    background: #77A290;
    height: calc(100% - 200px);
}

#message {
    width: 80%;
    padding-bottom: 40px;
}